<!-- <div class="container"> -->
<form [formGroup]="empform">
  FirstName:
  <input
    type="text"
    placeholder="enter first name"
    formControlName="firstname"
  /><br />
  <br />
  LastName:
  <input
    type="text"
    placeholder="enter last name"
    formControlName="lastname"
  /><br />
  <br />
  Email:
  <input type="email" placeholder="enter email" formControlName="email" />
</form>
<br />
<button (click)="submit()">Submit</button>
<button (click)="update()">Update</button>

<!-- </div> -->
<br />
<br />

<div class="container">
  <table style="text-align: center" border="1">
    <tr>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let item of data">
      <td>{{ item.firstname }}</td>
      <td>{{ item.lastname }}</td>
      <td>{{ item.email }}</td>
      <td><button (click)="editEmp(item.id)">Edit</button></td>
      <td><button (click)="deleteEmp(item.id)">Delete</button></td>
    </tr>
  </table>
</div>
